<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  {{!-- <link rel="stylesheet" type="text/css" href="../../public/css/style.css" /> --}}
  <title>Info Fountain</title>

</head>

    {{!-- ########################### Header ########################## --}}
    {{!-- ########################### Header ########################## --}}
    {{!-- ########################### Header ########################## --}}

<body class="container-fluid" style="background-color: black;">
  <div class="jumbotron" id="hero" >
    <header class="container-fluid justify-space-between align-center p-2">
      <div class="row justify-content-end">
      <a class="btn btn-light pull-right m-1 LoginSignUpBtn" href="/login" role="button">Login or Sign Up!</a>
      <a class="btn btn-light pull-right m-1 LogOutBtn" id="logout" href="/" role="button">Logout</a>
      </div>
      <h1 class "display-4" style="color: white">INFO FOUNTAIN</h1>  

      <p class="lead" style="color: white">"The larger the island of knowledge, the longer the shoreline of wonder"-Ralph Sockman</p>
      <hr class="my-4">
      <p style="color: white">If this is your first time at our site, please sign up. Otherwise, login below.</p>
      <br>

    {{!-- ######################### NavBar ############################## --}}
    {{!-- ######################### NavBar ############################## --}}
    {{!-- ######################### NavBar ############################## --}}

      <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color: rgb(187, 201, 226);">
    <div class="navbar-nav">
      <a class="nav-item nav-link active  ml-4 mr-4" style= "color: black" href="/">Home</a>
      <a class="nav-item nav-link ml-4 mr-4" style= "color:black" href="/userportal">UserPortal</a>
      <a class="nav-item nav-link  ml-4 mr-4" style= "color:black" href="/create-post">Post</a>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Tech Word of the day</button>
    </div>
  </div>
</nav>

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Word of the day: Server</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    a computer or computer program which manages access to a centralized resource or service in a
                    network.- learn about servers and more in our views option
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </nav>
  </div>
  </header>
  <div class="container-fluid" style="background-color: black;">
    <div class="row justify-content-md-left">
      <div class="col-12 w-100">
        {{{ body }}}
      </div>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>

</html>