<h1 style="color: white" >Create A New Post Below</h1>

<div class="container">
    <div class="row" id="row_style">
        
        <div class="col-md-4   col-md-offset-4">
            <form class="container form-group" id="postFormSubmit">
                <input type="text" id="title" class="form-control" placeholder="Title" style= "background-color: rgb(187, 201, 226)">
    

            <textarea id="postText" cols="100" rows="10" placeholder="Submit your text post here..." style="background-color: rgb(187, 201, 226)"></textarea>
            <br>
      
                <button class="btn btn-primary" id="submit">Submit new post</button>
            </form>
        </div>
    </div>
</div>


<script src="/js/post.js"></script>
