<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">

   
  </div>
  <div class="col-md-7">
    <p>{{post.title}}</p>
      <p>{{post.post_text}}</p>
       
      <p> By: {{post.user.username}}</p>
  </div>
</div>
{{/each}}

<h1>HOMEPAGE!</h1>
