<div class="row">
  <div class="col-md-6">
    <h2 style="color: white">Login</h2>

    <form class="form login-form">
      <div class="form-group text-left">
        <label for="email-login"></label>
        <input class="form-input" style="background-color: rgb(187, 201, 226)" type="text" placeholder="Enter Email Here" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login"></label>
        <input class="form-input" style="background-color: rgb(187, 201, 226)" placeholder="Enter Password" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-light text-dark"  type="submit">Login!</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2 style="color: white">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup"></label>
        <input class="form-input" style="background-color: rgb(187, 201, 226)"  placeholder="Enter Username Here" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup"></label>
        <input class="form-input"style="background-color: rgb(187, 201, 226)"  placeholder="Enter Email Here" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup"></label>
        <input class="form-input" style="background-color: rgb(187, 201, 226)" placeholder="Enter Your Password" type="password" id="password-signup"/>
      </div>
      <div class="form-group">
        <button class="btn btn-light text-dark" type="submit">Sign Up!</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
