
<div class="col-md-5">
    <h5>
      Welcome to Your Portal!
    </h5>
   
  </div>


{{#each user}}
<div class="row mb-4 project">
  
  <div class="col-md-7">
    <p>
      {{user.name}}
    
    </p>
  </div>
</div>
{{/each}}