<!-- Loop over each object in the projects array -->
      <h1>Get All Posts Page!</h1>
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
   
  </div>
  <div class="col-md-7">
    <p>{{post.title}}</p>
    <p>{{post.post_text}}</p>
    <p>{{post.date_created}}</p>
    
    <p> By: {{post.user.username}}</p>
  </div>
</div>
{{/each}}
