<!-- Loop over each object in the projects array -->
      <h1>Welcome to Your User Portal, {{user.username}} !</h1>

<div class="row mb-4 project">
  <div class="col-md-5">
  </div>

  <div class="col-md-7">
    <p>{{user.username}}</p>
    <p>{{user.email}}</p>
    <p>{{user.user_text}}</p>
  </div>

</div>

