
  <section class="card border border-dark">
    
      <div class="border-bottom border-gray w-100">

          <h2>{{posts.title}}</h2>

      </div>

      <div class="border-bottom border-light">

        <div class="border-top border-dark ">
        <h5>Article:</h5><p class="text-dark">{{posts.post_text}}</p>

           <div class="container-fluid">
              <textarea class="container-fluid w-50" id="comment_text" placeholder="Join the Discussion by Adding Your Comment Here"></textarea>
           </div>
            
            
            <form class="form-group" id="submit">
                <button class="btn btn-primary" id="submit">Submit Comment</button>
            </form>
        </div>

        <h4>Most Recent Comments:</h4>
        {{#each posts.comments as |comment|}}
          <p>{{comment_text}}-{{user_id}}<br></p>
        {{/each}}
      </div>

  </section>

 <script src="./js/comment.js"></script>
