header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  /* color: #1b89bc; */
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.btn btn-primary1 {
  display: flex;
  color: blue;
  position: absolute;
  right: 0;
}

.jumbotron {
  height: 400px;
  background: linear-gradient(rgb(255 255 255 / 45%), rgb(118 118 118 / 45%)),
    url(./pexels-pixabay-36717.jpg);
  max-height: 100vh;
  background-size: cover;
  background-position: center;
}
}

#body {
  background-color: gray;
}

.form-row {
  color: white;
}

.invalid-feedback {
  color: white;
}

.form-check-label {
  color: white;
}

#navbarDropdownMenuLink {
  color: white;
}

.form-group {
  color: white;
}

.headerJumbotron {
  /* background-color: #615a5b; */
  height: 400px;
  background: linear-gradient(rgb(255 255 255 / 45%), rgb(118 118 118 / 45%)),
    url(./binary-3402891_1280.jpg);
  max-height: 100vh;
  background-size: cover;
  background-position: center;
}

.mainBody {
  background-color: rgb(63, 77, 77);
  /* background-image: url(./abstract-5035778_1920.jpg); */
}
