header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.headerText {
  background-color: black;
  width: fit-content;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  /* color: #1b89bc; */
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.btn btn-primary1 {
  display: flex;
  color: blue;
  position: absolute;
  right: 0;
}

.jumbotron {
  height: 400px;

  background: linear-gradient(rgb(0 0 0 / 60%), rgb(118 118 118 / 0%)),
    url(./Fountain5.jpg);
  max-height: 100vh;
  background-size: cover;
  background-position: center;
}
#portal {
  background: url(./portalPic.jpg);
}

#body {
  background-color: gray;
}

.form-row {
  color: white;
}

.invalid-feedback {
  color: white;
}

.form-check-label {
  color: white;
}

#navbarDropdownMenuLink {
  color: white;
}

.form-group {
  color: white;
}

.mainBody {
  background: linear-gradient(
    38deg,
    rgba(83, 107, 173, 1) 23%,
    rgba(203, 199, 199, 1) 100%
  );
  padding: 10;
  border-radius: 10px;
}
