header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.btn btn-primary1 {
  display: flex;
  color: blue;
  position: absolute;
  right: 0;
}

.jumbotron {
  background: rgb(7, 61, 7);
  color: white;
}

body {
  background-image: './images/pexels-pixabay-36717.jpg';
}

.form-row {
  color: white;
}

.invalid-feedback {
  color: white;
}

.form-check-label {
  color: white;
}

.navbar navbar-expand-lg navbar navbar-light {
  background: rgb(7, 61, 7);
  color: white;
}

.navbar-nav {
  background: rgb(7, 61, 7);
  color: white;
}

.nav-item-nav-link {
  background: rgb(7, 61, 7);
  color: white;
  margin: 10px;
}

#navbarDropdownMenuLink {
  color: white;
}
